.title {
  font-size: 3rem;
  font-weight: 100;
  position: relative;
  text-align: center;
  margin: 0;
}

.subtitle {
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  margin: 0;
}

.content {
  background-color: gray;
}

.monospaced {
  font-family: monospace;
}

h2 {
  font-weight: 10;
  font-size: 1em;
  text-decoration: underline;
}

.monospaced ul li {
  list-style-type: none;
  text-decoration: underline;
}